# Dependencies
node_modules/
venv/
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
/obj
/bin

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
out/

# Testing
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp
.cache/

# System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 
**/bin/*
**/obj/*
SpaceForce.VisitorManagement/SpaceForce.VisitorManagement.Api/obj/
SpaceForce.VisitorManagement/SpaceForce.VisitorManagement.Api/bin/
SpaceForce.VisitorManagement/SpaceForce.VisitorManagement.Data/obj/
SpaceForce.VisitorManagement/SpaceForce.VisitorManagement.Data/bin/
bin/
obj/
SpaceForce.VisitorManagement/SpaceForce.VisitorManagement.Api/obj/**/*
SpaceForce.VisitorManagement/SpaceForce.VisitorManagement.Api/bin/**/*
SpaceForce.VisitorManagement/SpaceForce.VisitorManagement.Api/bin/Debug/net8.0/SpaceForce.VisitorManagement.Api.dll
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/